a {
  text-decoration: none;
  color: #1976d2;
}

.civilizationIconLabel {
  text-shadow: 4px 5px 0px rgba(0, 0, 0, 0.507);
}

.App {
  background-color: #f5f5f5;
  padding-bottom: 50px;
  position: relative;
}

/* these selectors override exsisting behavior of InfoWindow on Google Maps Api */
.gm-style .gm-style-iw-c {
  padding: 0 !important;
}

.gm-style .gm-style-iw-d {
  overflow: hidden !important;
}
